page-home {
  ion-item.search-box {
    padding: 16px;
    background: color($colors, primary);
    div.item-inner {
      background: color($colors, secondary);
      padding-left: 10px;
      padding-right: 10px !important;
      border-radius: 5px;
      input {
        margin: 0;
      }
      ion-icon {
        margin: 0 !important;
      }
    }
  }
  div.site-list {
    padding-top: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    ion-item {
      padding-left: 0 !important;
      ion-label {
        margin: 0;
      }
    }
  }
}

$text-input-md-show-focus-highlight: (false)