site {
  ion-col {
    position: relative;
  }
  div.image {
    position: relative;
    height: 55px;
    // padding: 10px;
    border-radius: 5px;
    // border: 1px solid grey;
    overflow: hidden;
    img {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      height: 100%;
      margin: 0;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      line-height: 55px;
      font-size: 1.6em;
    }
  }
  h3.site {
    font-weight: bold;
  }
  h5.username, h5.password {
    color: color($colors, lightText);
  }
  ion-col:last-child {
    text-align: right;
    ion-icon {
      font-size: 2em;
      margin-right: 0px;
    }
  }
}
