

@font-face {
  font-family: "Pacifico";
  src:  url("../assets/fonts/Pacifico-Regular.ttf");
}
* {
  text-rendering: optimizeLegibility;
}

// page header
ion-header {
  div.toolbar-background-md {
    background: color($colors, dark);
  }
  ion-title div, ion-icon {
    color: color($colors, darkText) !important;
  }
}

// bottom tab
ion-tabs.tabs-md {
  div.tabbar {
    background: color($colors, primary);
    a.tab-button {
      color: color($colors, primaryText);
      ion-icon.tab-button-icon {
        color: color($colors, primaryText);
      }
    }
    a.tab-button[aria-selected=true] {
      background: rgba($color: color($colors, dark), $alpha: 0.5);
      border-radius: 5px;
      color: color($colors, darkText);
      ion-icon.tab-button-icon {
        color: color($colors, darkText);
      }
    }
  }
}

// action sheet button
button.action-sheet-button.danger {
  color: color($colors, danger);
}

//popover
.popover-md .popover-content {
  width: 320px !important;
  height: 400px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}