<ion-header>
  <ion-navbar>
    <ion-title>Connect to PC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="header">
    <ion-icon name="ios-laptop"></ion-icon>
  </div>
  <div class="devices-container">
    <ion-spinner item-start name="dots" *ngIf="isLoading"></ion-spinner>
    <ion-list *ngIf="!isLoading">
      <button ion-item *ngFor="let device of deviceList" (click)="selectDevice(device.id)" [ngClass]="{ 'active': selectedDevice == device.id }">
        <ion-icon name="{{device.icon}}" item-start></ion-icon>
        <h2>{{device.name}}</h2>
      </button>
      
    </ion-list>
  </div>
  <button ion-button class="connect-button" *ngIf="selectedDevice != -1">Connect</button>
</ion-content>
