page-generate-password {
  ion-content {
    div.header {
      text-align: center;
      padding: 25px;
      ion-icon {
        font-size: 6em;
        color: color($colors, dark);
      }
    }
    button {
      width: 100%;
    }
    ion-list-header {
      margin-top: 10px;
      margin-bottom: 0 !important;
      height: 30px !important;
      min-height: 30px !important;
    }
    div.gen-pass {
      p {
        // border: 1px solid;
        border-radius: 5px;
        overflow: scroll;
        white-space: nowrap;
        text-align: center;
        height: 50px;
        min-height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 50px;
      }
    }
  }
}
